/*
 using compass: A collection of mixins with an updater
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\000039}}
.face {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000313}}
html {
  font-family: Helvetica;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000317}}
a {
  text-decoration: none;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000322}}
canvas {
  z-index: 9;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000327}}
#wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 320px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000333}}
.more:before {
  content: '\039e';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000337}}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000347}}
.help-inline {
  color: #B94A48;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000351}}
.btn {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006DCC;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #04C #04C #002A80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 15px;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000371}}
.circular:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000382}}
section article {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000388}}
#jumper.login {
  -webkit-perspective: 500px;
  left: 130px;
  width: 15em;
  top: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\0000396}}
#jumper {
  position: relative;
  margin: 0 auto;
  font-size: .9em;
  padding-bottom: 22px;
  width: 100%;
  height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003105}}
#jumper div {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003111}}
#jumper div p {
  margin: 0;
  padding: 3px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003122}}
div.desc div span {
  padding: 0 15px 15px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003126}}
#jumper div p.replay {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003131}}
#jumper p {
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003135}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003140}}
body {
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003147}}
#mainNav {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003153}}
.centre a img:hover {
  transform: scale(1, 2);
  -ms-transform: scale(1, 2);
  /* IE 9 */
  -webkit-transform: scale(1, 2);
  /* Safari and Chrome */
  -o-transform: scale(1, 2);
  /* Opera */
  -moz-transform: scale(1, 2);
  /* Firefox */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003163}}
.left img {
  margin-left: 3%;
  border-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003169}}
.texto,
.corner {
  left: 42%;
  position: fixed;
  margin-left: 5%;
  font-size: 1.5em;
  display: block;
  max-width: 9em;
}

@media (min-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003181}}
  .texto {
    max-width: 280px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003186}}
.disclaimer {
  position: absolute;
  bottom: 10px;
  color: grey;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003193}}
.right {
  padding-left: 60px;
  color: grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003198}}
.left {
  padding-left: 50px;
  color: grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003203}}
#wrapper {
  position: relative;
  z-index: 99;
  margin: 0 0 0 20px;
  max-width: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003210}}
.recom {
  width: 225px;
  position: fixed;
  left: 0;
  padding-top: 10em;
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003218}}
svg {
  height: 49px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003222}}
.circular span {
  width: 6em;
  height: 6em;
  border-radius: 1em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  left: 5px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003233}}
.circular span img {
  opacity: 0;
  filter: alpha(opacity=0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003240}}
.cor {
  font-size: 3em;
  display: inline-block;
  transform: scale(2, 6);
  -webkit-transform: scale(2, 6);
  -moz-transform: scale(2, 6);
  -ms-transform: scale(2, 6);
  -o-transform: scale(2, 6);
  position: relative;
  left: 40px;
  top: -30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003253}}
.desc {
  position: relative;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003257}}
.desc span, .desc li {
  padding-left: 5px;
  font-size: 1.5em;
  -webkit-animation: rot .6s ease-in-out 1s backwards;
  -moz-animation: rot .8s ease-in-out 1s backwards;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  font-weight: bold;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003269}}
.coding {
  padding-top: 8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003273}}
.links {
  bottom: 0;
  padding-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003279}}
.face {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003285}}
.corner .title {
  white-space: nowrap;
  z-index: 9999;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003290}}
.corner .text {
  font-weight: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003293}}
.title a {
  color: #919191;
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003298}}
.title input {
  height: 44px;
  margin: 2px 0 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003302}}
.button {
  margin: 2px 0 0 15px;
  border: 1px solid #efefef;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003307}}
#dark {
  background-color: #333;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003314}}
#light {
  background-color: #FFF;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003322}}
li {
  list-style: none;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003327}}
.button {
  z-index: 999;
  position: relative;
  font-size: 10pt;
  margin: 0 auto;
  width: 184px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003337}}
.button, .button:visited {
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  margin: 2px 0 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003353}}
.green.button, .green.button:visited {
  margin: 12px 0 0 100px;
  height: 44px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003358}}
.green.button:hover {
  background-color: #749a02;
  margin: 12px 0 0 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003363}}
form {
  margin: 100px auto;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003368}}
form div {
  margin: 10px 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003373}}
input[type="text"], input[type="password"] {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 0;
  outline: 0;
  font: 15px Georgia, Serif;
  color: white;
  padding: 8px;
  width: 184px;
  background: #2c2c2b;
  -webkit-box-shadow: inset 0 -1px 0 #666, inset 3px 3px 5px #111;
  -moz-box-shadow: inset 0 -1px 0 #666, inset 3px 3px 5px #111;
  box-shadow: inset 0 -1px 0 #666, inset 3px 3px 5px #111;
  font-size: 2em;
  margin-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003396}}
form:after {
  content: "";
  width: 300px;
  height: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -200px;
  position: absolute;
  z-index: -1;
  background-image: -webkit-radial-gradient(center, circle contain, rgba(18, 136, 204, 0.88), transparent);
  background-image: -moz-radial-gradient(center, circle contain, rgba(18, 136, 204, 0.88), transparent);
  background-image: -ms-radial-gradient(center, circle contain, rgba(18, 136, 204, 0.88), transparent);
  background-image: -o-radial-gradient(center, circle contain, rgba(18, 136, 204, 0.88), transparent);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003412}}
::-webkit-input-placeholder {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003416}}
:-moz-placeholder {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003422}}
.buttons {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003426}}
#wrapper_login {
  border-top: 5px solid #000;
  margin-top: 2em;
}

@media (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003433}}
  .face {
    display: inline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003437}}
  #wrapper {
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    clear: both;
    padding-top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003446}}
  #jumper {
    left: 120px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003450}}
  #jumper p {
    font-size: 3em;
  }
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003460}}
  #jumper p {
    font-size: 4em;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003470}}
  #jumper {
    display: none;
  }
}
@media (min-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003478}}
  .links {
    padding-top: 1em;
    font-size: 1.15em;
  }
}
/*  picturefill media-queries */
@media (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003488}}
  .bg-img {
    background-image: url(http://i.imgbox.com/adkVf9kg.jpg);
  }
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003494}}
  .bg-img {
    background-image: url(http://i.imgbox.com/adbzuoo7.jpg);
  }
}
@media (min-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003500}}
  .bg-img {
    background-image: url(http://i.imgbox.com/acpj1C0W.jpg);
  }
}
/* iPhone */
@media only screen and (width: 320px) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003508}}
  body {
    -webkit-transform: scale(0.667);
    -webkit-transform-origin: top right;
    position: absolute;
    right: 0;
    top: 0;
    width: 480px;
  }
}
/* iPad */
@media only screen and (width: 768px) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Leo\/Documents\/root\/lab\/scss\/main\.scss}line{font-family:\00003519}}
  body {
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: top right;
    position: absolute;
    right: 0;
    top: 0;
    width: 1024px;
  }
}
