

<div id="wrapper_login">


    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <text x="20"  y="40"
              style="font-family:'Life Savers', cursive;
                     font-size  : 3vmax;
                     fill       : #ededed;
                    ">
            Leo's LAB
        </text>
    </svg>


    <div class="corner">
        <form name="f1">
            <div class="title"><a>Username:</a>
                <input type="text" name="username" id="user" size="20" value="guest" placeholder="guest"  required="required" /></div>
            <div class="title"><a>Password: </a>
                <input type="password" id="password" name="password" size="20" value="" required="required" /></div>
            <input type="hidden" name="platform" value="desktop">
            <span id="warning" class="warning"></span>
            <span><a class="small button green" id="form">LOGIN</a></span>
        </form>
    </div>

    <div class="gradient"></div>


</div>
