<div id="wrapper_login">

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <text x="20"  y="40"
              style="font-size  : 2em;
                     fill       : #000;
                    ">
            Leo's LAB
        </text>
    </svg>

    <div class="corner">
        <form name="f1">
            <div class="title"><a>Username:</a>
                <input type="text" name="username" id="user" size="20" value="guest" placeholder="guest"  required="required" ng-model="login.password"/></div>
            <div class="title"><a>Password: </a>
                <input type="password" id="password" name="password" size="20" value="" required="required" ng-model="login.username" /></div>
            <input type="hidden" name="platform" value="desktop">
            <span id="warning" class="warning"></span>
            <span><a class="small button green" id="form" ng-disabled="checked" ng-click="handleButtonClick()">LOGIN</a></span>
        </form>
    </div>

    <p>Button Clicks: {{buttonClicks}}</p>

    <div class="gradient"></div>

</div>
